body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.form-centered {
    margin: 0 auto;
    max-width: 400px;
}

.form-bordered {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
}

    .form-bordered h2 {
        margin-top: 0;
    }

    .form-bordered .form-group:last-of-type {
        margin-bottom: 5px;
    }

.text-hyphenated {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

    .text-hyphenated:before,
    .text-hyphenated:after {
        display: block;
        content: " ";
        border-bottom: 1px solid #ddd;
        width: 100%;
        position: absolute;
        top: 48%;
    }

    .text-hyphenated:before {
        left: -60%;
    }

    .text-hyphenated:after {
        right: -60%;
    }
