@model ForgotPasswordViewModel

@{ ViewData["Title"] = "Forgot your password?"; }

<div class="form-centered form-bordered">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h2>@ViewData["Title"]</h2>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-default">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
