<h2>About We Work Dotnet</h2>
<p>A brand new tool created with a dead simple idea: To connect .NET [CORE] developers with companies.</p>
<p>Free for all. Open source. No long boring forms certified.</p>
<p><a href="mailto:hello@weworkdotnet.com" target="_top"><i class="fa fa-envelope-o" aria-hidden="true"></i> hello@weworkdotnet.com</a></p>
<p><a href="https://github.com/weworkdotnet" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> weworkdotnet</a></p>
<p><a href="https://twitter.com/weworkdotnet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> &commat;weworkdotnet</a></p>


<br />
<h4>Developers</h4>
<p><a href="https://github.com/druzza" target="_blank">Daniel Ruzza</a></p>
<p><a href="https://github.com/rbrugnollo" target="_blank">Rafael Brugnollo</a></p>